body{
    background-color: rgb(255, 231, 208);
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.grid-square{
    display: grid;
    align-content: center;
    justify-content: center;
    height: 3em;
    width: 3em;
   

}